<% unless session[:theme] %>
  <%= image_tag "BlogNog2.png", :style => "float:right;", :class => "BlogNogLogo" %>
<% else %>
  <%= image_tag Theme.find(session[:theme]).logo.url(:size200), :style => "float:right;", :class => "BlogNogLogo" %>
<% end %>
<h1 class="lower">Moderator Home</h1>
<p>&nbsp;</p>

<% for project in @these_projects %>
  <%discussion = Discussion.find(:last, :conditions=>{:project_id => project.id})%>
<div>
    <p>
	<strong><%=project.title %></strong><br/>
  <%if discussion.nil?%>
      <%= link_to 'View', :controller => 'assignment', :action => 'show', :id => project.id %>
    <%else%>
    	<%= link_to 'View', :controller => 'discussion', :action => 'show', :id => discussion.id, :project_id => project.id %>
    <%end%> | 
	<%= link_to "Edit", {:controller => "project", :action => "edit", :id => project.id} %> |
	<%= link_to 'Delete', {:controller => 'project', :action => 'drop', :id => project.id}, :confirm => "Are you sure?" %>
	</p>
</div>

<% end %>
