<% unless session[:theme] %>
  <%= image_tag "BlogNog2.png", :style => "float:right;", :class => "BlogNogLogo" %>
<% else %>
  <%= image_tag Theme.find(session[:theme]).logo.url(:size200), :style => "float:right;", :class => "BlogNogLogo" %>
<% end %>
<h1 class="lower">Your Projects</h1>
<br/><br/>
<% for project in @projects %>
  <%discussion = Discussion.find(:last, :conditions=>{:project_id => project.id})%>
	<% assignment_detail = Assignment.find(:last, :conditions => {:project_id => project.id}, :limit => 1) %>
	<% if !assignment_detail %>
    <%if discussion.nil?%>
        &gt;&nbsp;&nbsp;<%= link_to project.title, :controller => 'assignment', :action => 'show', :id => project.id %>
      <%else%>
      	&gt;&nbsp;&nbsp;<%= link_to project.title, :controller => 'discussion', :action => 'show', :id => discussion.id, :project_id => project.id %>
      <%end%><br/>
	<% else %>
	&gt;&nbsp;&nbsp;<%= link_to assignment_detail.title, {:controller => 'assignment', :action => 'show', :id => project.id }%><br/>
	<% end %>
<% end %>
