<h1 class="lower"><%=  @groupable.title %></h1>
<br/>

<p>Here are the items in your map "<%=  @groupable.title %>" and these can actually be dragged and dropped in the same manner that your
participants will be dragging and dropping.  Go ahead and try it!</p>
<br/>
<div style="display:inline-block;">
<ul id="groupables" style="list-style:none">
  <% for groupableitems in @groupableitems %>

  <% content_tag_for :li, groupableitems do %>
  <span class="handle2" >
        <%  unless groupableitems.image.url == "" %>
      <%= image_tag groupableitems.image.url(:size100), :style => "vertical-align:middle;" %>
    <% else %>
    <span ><%= groupableitems.description %></span>
    <% end %>
  </span>
  <% end %>
<%= draggable_element("groupableitems_#{groupableitems.id}", :revert => false) %>
  <% end %>

</ul>
</div>
<div ></div>

<div class="outerTargetFrame">
<div class="targetFrame">

<div class="neutraltarget" id="groupabletargets_0">
</div>
<%= drop_receiving_element("groupabletargets_0",
  :hoverclass => 'hover2',
  :url =>{ :controller => "groupableitems",
    :action => "group",
    :target => 0,
    :user => self.current_user.id }) %>

<div style="clear:both"></div>
<% i = 0 %>
<% @groupabletargets.each do|groupabletarget| %>


<% div_for groupabletarget, :class => "perceptiontargets" do %>
      <%#=  groupabletarget.description %>
<% end %>

<%= drop_receiving_element("groupabletargets_#{groupabletarget.id}",
  :hoverclass => 'hover',
  :url =>{ :controller => "groupableitems",
    :action => "group",
    :target => groupabletarget.id,
    :user => self.current_user.id }) %>
<%end%>

</div> <!-- inner -->

<div id="yHigh">High</div>
<div id="apex">Low</div>
<div id="xHigh">High</div>

<p class="y-label">
<%= @Y.description %>
</p>

<div class="x-label">
<%= @X.description %>
</div>

</div><!-- outter -->

<div class="nulltarget" id="groupabletargets_null" style="margin-left:100px;">
  Don't know
</div>
<%= drop_receiving_element("groupabletargets_null",
  :hoverclass => 'hover',
  :url =>{ :controller => "groupableitems",
    :action => "group",
    :target => -1,
    :user => self.current_user.id }) %>

