<div id="rightColumn">
  <br/>
  <h2>
    Edit Module Type
  </h2>
 
  <br/>
   <% form_for [@module_type] do |f|%>
    <p>
      <%= f.label :name%>
      <%= f.text_field :name%>
      <br/>
      <% field_set_tag 'Show labels' do%>
        <%= f.label :has_label, 'Yes'%>
        <%= f.radio_button :has_label, true%>
        <%= f.label :has_label, 'No' %>
        <%= f.radio_button :has_label, false%>
      <%end%>
    </p>
    <br/>
    <br/>
    <strong><%=link_to "Return to Module types list", module_types_path%></strong>
     <br/>
     <br/> 
     <%= f.submit 'Save Changes', :class=> "submit_button clear right"%>
  <%end%>
</div>
