<% content_tag_for :tr, flex_module do -%>
  <%if self.current_user.admin || self.current_user.moderator%>
    <td class="moduleName">
      <%= link_to flex_module.module_type.name, flex_module_module_responses_path(flex_module), :class=>"moduleLink"%>
    </td>
    <td class="setupModule">
      <%= link_to "Setup", flex_module_module_images_path(flex_module), :class=>"moduleLink"%>
    </td>
    <td class="flexModuleStatus">
      <%= link_to flex_module.status, {:controller => "flex_modules", :action => "change_status", :id => flex_module.id, :status => flex_module_new_status(flex_module)}, :class=>"moduleLink", :title => "Change to:#{flex_module_new_status(flex_module)}"%>
    </td>
  <%elsif flex_module.published?%>
    <td class="moduleName">
      <p class="moduleTitle">
        <%=flex_module.module_type.name%>
      </p>
    </td>
    <td class="launchModule">

        <%if user_response_module_type(flex_module)%>
          <%= link_to "Click to launch the Module", flex_module_module_response_path(flex_module.id, user_response(flex_module)), :class=>"moduleLink"%>
        <%else%>
          <%= link_to "Click to launch the Module", new_flex_module_module_response_path(:flex_module_id=> flex_module.id), :class=>"moduleLink"%>
        <%end%>

    </td>
  <%end%>
<%end -%>
      

