<div id="rightColumn">
  <br/>
  <h2>
    Edit Category
  </h2>
 
  <br/>
  <%i = 0%>
  <% form_for [@category] do |f|%>
    <p>
      <%= f.label :name%>
      <%= f.text_field :name%>
    </p>
    <br/>
    <br/>
    <strong><%=link_to "Return to Categories", categories_path%></strong>
    <h2>Assign Project</h2>
     <%for project in @projects%>
        <%if i%3 == 0%>
          <%discussion_class = "clear"%>
        <%else%>
          <%discussion_class = ""%>
        <%end%>
       <p class = "project_element  <%=discussion_class%>">
         <%= f.radio_button :project_id, project.id%>
         <label><%= project.title%> </label>
       </p>
       <%i = i+1%>
     <%end%>
     <%=link_to "unselect project", "#", :onclick=>"unselectRadio(#{@category.id});", :class => "unselect_link"%>
     <br/>
     <br/> 
     <%= f.submit 'Save Changes', :class=> "right"%>
  <%end%>

</div>
<% content_for :scripts do -%>
  <%= javascript_include_tag "categories"%>
<%end%>
